/*estilos del header*/
.header{
    padding: 70px 0px 70px 0px;
    margin: 0% auto;
    background: #9575cd;
    color: floralwhite;
}

.row-header{
    margin: 0% auto;
    padding: 0px auto;
}

/*seccion comida*/
.row-content{
    margin: 0% auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px solid #E0E0E0;
    min-height: 350px;
}

/*footer*/
.footer{
    background-color: #d1c4e9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

address{    
    margin: 0%;
    font-size: 17px;
    color: #0f0f0f;
}

/*nav de navegación*/
body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark{
    background-color: #512da8;

}

/* estilode del carousel*/
.carousel{
    background: #512da8;
    
}

.carousel-item{
    height: 280px;
    font-size: 20px;
}

.carousel-item img{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
    min-width: 300px;
    background-color: rgb(250, 245, 235);
}

.carousel-caption{
    color: floralwhite;
}

#carouselButton {
    position: absolute;
    bottom: 250px;/*si el coloco '0' lo posiciona en la parte inferior del carousel y si le colo 250 el laparte superior del tamaño del carousel*/
    right: 0px;
}

#reservarBoton{    
    --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
}

.texto-footer{
    padding: 35px 0px 0px 0px;
    color: #626060;
    font-size: 15px;
}

.navbar-brand{
  padding-left: 4px;
}

/******************SECCION PREMIOS************************/

@media (min-width: 576px) {
    .seccion-features {
      padding-bottom: 100px;
    }
  }
  
  @media (min-width: 768px) {
    .col-md-5 {
      flex: 0 0 auto;
      width: 42%;
    }
  }
  
  .bloque-encabezado {
    padding-top: 40px;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .seccion-features .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
  }
  
  .justify-content-center {
    justify-content: center!important;    
  }
  
  .feature-box{
    position: relative;
    padding: 15px 20px 15px 70px;  
  }
  
  
  .feature-box .icon {
    font-size: 30px;
    position: absolute;
    left: 15px;
    top: 15px;
    width: 30px;
    text-align: center;
    color: #3b99e0;
  }
  /**************************SECCION MENU************************/

  .galeria{
    display: flex;
    left: calc(100% - 330px);
  }

  .galeria2{
    display: flex;
    left: calc(50% - 330px);
  }
  
  .card{
    margin: 20px;
    border: 1px solid #ccc;
    width: 300px;
    height: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    
  }

  .card1{
    margin: 20px;
    border: 1px solid #ccc;
    width: 300px;
    height: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
  }

  .card2{
    margin: 20px;
    position: relative;
    left: 0;
    width: 210px;
    height: 160px;
    padding: 8px;
    background-color: white;
    border-radius: 8px;
    transition: 0.6s ease-in-out;
    box-shadow: rgba(0,0,0,0.25) 0px 5px 25px;
    border: 1px solid rgba(0,0,0,0.25);
  }

  .card2:nth-child(1){
    background-color: #f05e5e;
   
  }
  .card2:nth-child(2){
    background-color: #1c2883;
    
  }
  .card2:nth-child(3){
    background-color: #96ad24;
    
  }
  .card2:nth-child(4){
    background-color: #f93d0e;
    
  }
  .card2:nth-child(5){
    background-color: #f1f1f1;
    
  }
  .card2:nth-child(6){
    background-color: #a6a1a1;
    
  }
  .card2:nth-child(7){
    background-color: #ae26ae;
    
  }

  .card2:not(:first-child){
    margin-left: -25px;
  }

  .card2:hover{
    transform: translateY(-20px);
    font-weight: bold;
    cursor: pointer;
  }
  
  .card2:hover ~ .card2{
    transform: translateX(25px);
  }
 
  /*
  .card2:hover ~ .card2{
    left: 20px;
  }*/